.container{
    display: block;
    border: 1px solid black;
    width: 70%;
    height: 70%;

    .chart_container{
        display: block;
        border: 1px solid black;
        width: 100%;
        height: 100%;
    }
    
    .bar_color{
        fill: black;
    }

}